<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' src='../public/stylesheets/style.css' />

    <!-- CDN do Bootstrap pro site ficar bonitinho -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

  </head>
  <body>
    <style>
      body{
        background-color: #0d6efd;
      }
      .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .login-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 30px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .login-container h1, 
      .login-container h2 {
        margin-bottom: 20px;
        text-align: center;
      }
    </style>
    <div class="container">
      <div class="login-container">
          <h1>Login</h1>
          <h2>Super Academia</h2>
          <form id="formulario" action="" class="row g-3">
              <div class="col-12">
                  <label for="usuario" class="form-label">Usuário:</label>
                  <input type="text" name="usuario" class="form-control" id="usuario" required>
              </div>
              <div class="col-12">
                  <label for="senha" class="form-label">Senha:</label>
                  <input type="password" name="password" class="form-control" id="senha" required>
              </div>
              <div class="col-12">
                  <button type="submit" class="btn btn-primary w-100">Entrar</button>
              </div>
          </form>
      </div>
  </div>
  </body>
  <script>
    async function lerDB(query, token) {
      // lê o banco de dados
        const res = await fetch('/ler-db', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ token: token, query: query })
        });

        return await res.json();
    }

    // Espera o envio do login
    document.getElementById('formulario').addEventListener('submit', async (e) => {

      e.preventDefault(); // evita comportamento estranho do JS

      // pega as credenciais inseridas
      const usuario = document.getElementById('usuario').value;
      const senha = document.getElementById('senha').value;

      // envia usuário e senha e espera uma resposta (token)
      const res = await fetch('/login', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ usuario, senha })
      });

      // espera o token em formato JSON do servidor
      const data = await res.json();

      // se o token (autorização) enviado pelo servidor for recebido, 
      // as credenciais estão corretas
      if (data.token) {

          let idVal = (await lerDB("SELECT id FROM Cliente WHERE usuario = " + '"' + usuario + '";', data.token)).id;

          if (usuario == "admin") {
            // se o usuário for admin, ir ao painel do administrador.
            // caso contrário, ir ao painel do cliente
            window.location.href = `./admin?token=${data.token}&id=${idVal}`;
          } else {
            window.location.href = `./cliente?token=${data.token}&id=${idVal}`;
          }

      } else {
          alert('Usuário ou senha incorreto!');
      }

    });
  </script>
  <!-- CDN do Bootstrap pro site ficar bonitinho -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>
